@font-face {

    font-family: 'GT Walsheim Pro';

    src: url('./assets/fonts/GTWalsheimPro-Regular.woff2') format('woff2'),
    url('./assets/fonts/GTWalsheimPro-Regular.woff') format('woff');
    
    font-weight: normal;
    font-style: normal;
    font-display: swap;

}

@font-face {

    font-family: 'GT Walsheim Pro';

    src: url('./assets/fonts/GTWalsheimPro-Light.woff2') format('woff2'),
    url('./assets/fonts/GTWalsheimPro-Light.woff') format('woff');
    
    font-weight: 300;
    font-style: normal;
    font-display: swap;

}